.additional {
  background-image: linear-gradient(to bottom, #00beee 0%, #0087e0 100%);
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 44px 0 79px 0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    right: -100px;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: rgba(255, 247, 251, 0.122);
    transform: skewX(27deg);
  }

  @include below(lg) {
    font-size: 80%;
  }

  @include below(md) {
    font-size: 48%;
  }

  @include below(sm) {
    padding: 40px 0;
  }
}

.additional__title {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 80px;

  @include below(sm) {
    font-size: 26px;
    margin-bottom: 40px;
  }
}

.additional__items {
  position: relative;
  padding: 1px;
}

.additional__items::after {
  content: '';
  position: absolute;
  display: block;
  left: calc(calc(33.3333333333% / 2) - 25px);
  right: calc(calc(33.3333333333% / 2) - 25px);
  top: -39px;
  height: 2px;
  background: #6cd8ff;

  @include below(sm) {
    display: none;
  }
}

.additional__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-95em / 16);
  margin-left: calc(-95em / 16);

  @include below(sm) {
    margin-top: calc(-60em / 16);
    margin-left: calc(-60em / 16);
  }
}

.additional__grid-cell {
  padding-top: calc(95em / 16);
  padding-left: calc(95em / 16);
  width: calc(100% / 3);

  @include below(sm) {
    padding-top: calc(60em / 16);
    padding-left: calc(60em / 16);
    width: 50%;
  }
}

.additional-item {
  border-radius: calc(64em / 16);
  background-color: rgba(233, 233, 233, 0.349);
  box-shadow: 0px calc(3em / 16) calc(16em / 16) 0px rgba(0, 0, 0, 0.09);
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.additional-item_first::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  bottom: 100%;
  width: 12px;
  height: 40px;
  border-left: 2px solid #6cd8ff;
  border-top: 2px solid #6cd8ff;
  border-radius: 8px 0 0 0;
  transform: translateX(-50%);

  @include below(sm) {
    display: none;
  }
}

.additional-item_middle::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  bottom: 100%;
  width: 2px;
  height: 54px;
  background: #6cd8ff;
  transform: translateX(-50%);
}

.additional-item_last::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  bottom: 100%;
  width: 12px;
  height: 40px;
  border-right: 2px solid #6cd8ff;
  border-top: 2px solid #6cd8ff;
  border-radius: 0 8px 0 0;
  transform: translateX(-50%);

  @include below(sm) {
    display: none;
  }
}

.additional-item__number {
  font-size: calc(260em / 16);
  line-height: 1;
  color: #fff;
  opacity: .40;
  font-weight: 100;
  position: absolute;
  left: calc(-35em / 260);
  top: calc(-20em / 260);
  width: calc(200em / 260);
  text-align: center;
  pointer-events: none;
}

.additional-item__title {
  font-size: calc(24em / 16);
  letter-spacing: 0.075em;
  color: #ffffff;
  font-weight: bold;
  line-height: calc(30em / 24);
  position: absolute;
  top: calc(32em / 24);
  min-height: calc(89em / 24);
  padding-bottom: calc(29em / 24);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translateX(-50%);

  &::after {
    content: '';
    background: #0088e0;
    height: calc(9em / 24);
    width: calc(52em / 24);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  @include below(md) {
    font-size: calc(32em / 16);
    line-height: calc(30em / 32);
    top: calc(30em / 32);
  }
}

.additional-item__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(20em / 16);
  width: calc(150em / 16);
  height: calc(150em / 16);
  display: flex;
  align-items: center;
  justify-content: center;

  @include below(sm) {
    transform: translateX(-50%) scale(0.8);
  }
}

.additional-item__image img {
  display: block;
}
