.why-we {
  padding-top: 60px;
  padding-bottom: 80px;
}

.why-we__title {
  font-weight: bold;
  text-align: center;
  color: #506e9a;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.01em;
}

.why-we__layout {
  display: flex;
  justify-content: space-between;
}

.why-we-years {
  position: relative;
  width: 320px;
}

.why-we-years::before {
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ff8825;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.why-we-years__number {
  font-weight: bold;
  text-align: center;
  color: #51afe4;
  font-size: 160px;
}

.why-we-years__label {
  font-size: 36px;
  line-height: 1;
  color: #252525;
  text-align: center;
}

.why-we-expert {
  position: relative;
  width: 320px;
}

.why-we-expert::before {
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ff8825;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.why-we-expert__image {
  width: 156px;
  height: 156px;
  margin-left: auto;
  margin-right: auto;
}

.why-we-expert__label {
  font-size: 36px;
  line-height: 1;
  color: #252525;
  text-align: center;
}

.why-we-total {
  position: relative;
  width: 320px;
}

.why-we-total::before {
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ff8825;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.why-we-total__before {
  font-size: 36px;
  line-height: 1;
  color: #252525;
  text-align: center;
}

.why-we-total__number {
  font-size: 100px;
  line-height: 1;
  color: #51afe4;
  text-align: center;
}

.why-we-total__after {
  font-size: 36px;
  line-height: 1;
  color: #252525;
  text-align: center;
}
