.why-we {
  padding-top: calc(53em / 16);
  padding-bottom: calc(81em / 16);

  @include below(lg) {
    font-size: 80%;
  }
}

.why-we__title {
  font-weight: bold;
  text-align: center;
  color: #506e9a;
  text-transform: uppercase;
  font-size: calc(60em / 16);
  line-height: 1;
  letter-spacing: 0.01em;
  margin-bottom: calc(23em / 60);
}

.why-we__layout {
  display: flex;
  justify-content: space-between;
}

.why-we-years {
  position: relative;
  width: calc(320em / 16);
  padding-top: calc(56em / 16);
}

.why-we-years::before {
  content: '';
  width: calc(17em / 16);
  height: calc(17em / 16);
  border-radius: 50%;
  background: #ff8825;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.why-we-years__number {
  font-weight: bold;
  text-align: center;
  color: #51afe4;
  font-size: calc(160em / 16);
  line-height: 1;
}

.why-we-years__label {
  font-size: calc(36em / 16);
  line-height: 1;
  color: #252525;
  text-align: center;
  margin-top: calc(-2em / 36);
}

.why-we-expert {
  position: relative;
  width: calc(320em / 16);
  padding-top: calc(34em / 16);
}

.why-we-expert::before {
  content: '';
  width: calc(17em / 16);
  height: calc(17em / 16);
  border-radius: 50%;
  background: #ff8825;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.why-we-expert__image {
  width: calc(156em / 16);
  height: calc(156em / 16);
  margin-left: auto;
  margin-right: auto;
  background: url('../images/why-we.svg') no-repeat 50% 50%;
  background-size: cover;
}

.why-we-expert__label {
  font-size: calc(36em / 16);
  line-height: 1;
  color: #252525;
  text-align: center;
  margin-top: calc(12em / 36);
}

.why-we-total {
  position: relative;
  width: calc(320em / 16);
  padding-top: calc(56em / 16);
}

.why-we-total::before {
  content: '';
  width: calc(17em / 16);
  height: calc(17em / 16);
  border-radius: 50%;
  background: #ff8825;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.why-we-total__before {
  font-size: calc(36em / 16);
  line-height: 1;
  color: #252525;
  text-align: center;
}

.why-we-total__number {
  font-size: calc(100em / 16);
  line-height: 1;
  color: #51afe4;
  text-align: center;
}

.why-we-total__after {
  font-size: calc(36em / 16);
  line-height: 1;
  color: #252525;
  text-align: center;
  margin-top: calc(10em / 36);
}
